body {
    background-image: url("../images/cocktail.jpg");
}
<<<<<<< HEAD
.form-inline {
    width: 35vw;
    background-color: rgb(238, 110, 115);
}
=======
>>>>>>> 2a98e9f649948ca967f6de9c7feb386fc6c24758

#searchBtn {
    margin-left: 20vw;
    margin-top: 0;
    background-color: rgb(238, 110, 115);
    position: absolute;
    left: 550px;
    
 
}

.drinkImg{
    max-width:100%;
}
.card-title{
    text-align: center;
}
.container {
<<<<<<< HEAD
    padding-top: 2vw;
=======
    padding-top: 3vw;
>>>>>>> 2a98e9f649948ca967f6de9c7feb386fc6c24758
    background-color: #d2d3d3bb;
    margin: 20px; 
    
}
@media screen and (max-width: 768px) {
    
    img {
        width: 200px;
        height: 200px;
        
    }
  }    
  
  /* Additional Screen Sizes */
  
  /* Width at 640px and below */
  @media screen and (max-width: 640px) {
  
    img {
        width: 150px;
        height: 150px;
    }
  }