body {
    background-image: url("../images/cocktail.jpg");
}


#searchBtn {
    margin-left: 20vw;
    margin-top: 0;
    background-color: rgb(238, 110, 115);
    position: absolute;
    left: 550px;
    
    
 
}
.drinkName{
    position: relative;
    font-family: 'Anton', sans-serif;
    font-size: 1cm;
  cursor: pointer;
  
  background-color: white;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}


 .navbar-brand{
    font-family: 'Anton', sans-serif;
    font-size: 2cm; 
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    0%   {color:red;}
    80%  {color:yellow;}
    80%  {color:blue;}
    80%  {color:green;}
    100% {color:red;}
  }
  
  /* Standard syntax */
  @keyframes example {
    0%   {color:red;}
    80%  {color:yellow;} 
    80%  {color:blue;} 
    80%  {color:green;} 
    100% {color:red;} 
  
 }
.drinkImg{
    max-width:100%;
    cursor: -webkit-grab; cursor: grab;
}
.card-title{
    text-align: center;
}
.container {
    padding-top: 3vw;
    margin: 5px; 
    body {
    background-image: url("../images/cocktail.jpg");
}


#searchBtn {
    margin-left: 20vw;
    margin-top: 0;
    background-color: rgb(238, 110, 115);
    position: absolute;
    left: 550px;
    
 
}
.drinkName{
    position: relative;
    font-family: 'Anton', sans-serif;
    font-size: 1cm;
  cursor: pointer;
  
  background-color: white;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}


 .navbar-brand{
    font-family: 'Anton', sans-serif;
    font-size: 2cm; 
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    0%   {color:red;}
    80%  {color:yellow;}
    80%  {color:blue;}
    80%  {color:green;}
    100% {color:red;}
  }
  
  /* Standard syntax */
  @keyframes example {
    0%   {color:red;}
    80%  {color:yellow;} 
    80%  {color:blue;} 
    80%  {color:green;} 
    100% {color:red;} 
  
 }
.drinkImg{
    max-width:100%;
    cursor: -webkit-grab; cursor: grab;
}
.drinkName{
    position: relative;
    bottom:90px;
}
.card-title{
    text-align: center;
}
.container {
    padding-top: 0;
    background-color: #d2d3d3bb;
    margin: 20px; 
    
    
}
.card-image{
    border: 2px solid red;
    border-radius: 8px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 768px }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 992px }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 1200px }
}

@media screen and (max-width: 768px) {
    
    img {
        width: 200px;
        height: 200px;
        
    }
  }    
  
  /* Additional Screen Sizes */
  
  /* Width at 640px and below */
  @media screen and (max-width: 640px) {
  
    img {
        width: 150px;
        height: 150px;
    }
  }